.ui-panelgrid, .ui-panelgrid .ui-panelgrid-cell {
	border-style: hidden;
	vertical-align: middle;
}

.ui-panel, .ui-datatable {
	margin-top: .35em;
	margin-bottom: 0.35em;
}

.row-archived TD {
	color: #DDDDDD;
}

.request-icon .fas, .request-icon .fa, .request-icon .far {
	font-size: 18px;
}

/* icon-attention is settings from glassfish EUBANK (it also deliver 'trophy' icon) */
.icon-attention, .icon-paid-card-known-bank { 
	color: #f78818;
}

.icon-irs-premium-paid {
	color: #00FF00;
}

.icon-irs-policy-issued {
	color: #ffcc00;
}

.icon-irs-request-canceled {
	color: #FF0000;
}

.icon-pgs-new {
	color: #0000ff;
}

.icon-pgs-on-process, .icon-pgs-on-hold, .icon-pgs-finished, .icon-irs-pending, .icon-paid-card-unknown-bank, .icon-paid-other {
	color: #CCCCCC;
}

A.request-icon, A.request-icon:hover {
	text-decoration: none;
}

.icon-note-has {
	color: #fade38;
}

.icon-note-no {
	color: #CCCCCC;
}

.add-comment-message {
	font-style: italic;
}

.filter-description-value {
	font-weight: bold;
}