.ui-panelgrid {
	/* 	width: 100%; */
	
}

.ui-panel, .ui-datatable, .ui-panelgrid {
	margin-bottom: .5em;
	margin-top: .5em;
}

.ui-panelgrid, .ui-panelgrid .ui-panelgrid-cell {
	border-style: hidden;
	/* 	 10px solid black; */
	vertical-align: middle;
}

.col-request-UNCOMPLETE {
	
}

.row-closed TD {
	color: #DDDDDD;
}

.col-request-EXPRESS {
	background: #f5fed8;
}

.col-request-ONLINE {
	background: #d8fee0;
}

.request-icon .fa {
	font-size: 1.8em;
	text-shadow: none;
}

.icon-success {
	color: #00FF00;
}

.icon-new {
	color: #0000ff;
}

.icon-fail {
	color: #FF0000;
}

.icon-on-process {
	color: #CCCCCC;
}

A.request-icon, A.request-icon:hover {
	text-decoration: none;
}
