.ui-panelgrid, .ui-panelgrid .ui-panelgrid-cell {
	border-style: hidden;
	vertical-align: middle;
}

.ui-panel, .ui-datatable {
	margin-top: .35em;
	margin-bottom: 0.35em;
}

.row-closed TD {
	color: #DDDDDD;
}

.request-icon .fa {
	font-size: 18px;
}

.icon-request-type {
	color: #CCCCCC;
}

.icon-attention {
	color: #f78818;
}

.icon-success {
	color: #00FF00;
}

.icon-new {
	color: #0000ff;
}

.icon-fail {
	color: #FF0000;
}

.icon-on-process {
	color: #CCCCCC;
}

A.request-icon, A.request-icon:hover {
	text-decoration: none;
}

.icon-note-has {
	color: #fade38;
}

.icon-note-no {
	color: #CCCCCC;
}

.preformatted {
    white-space: pre-wrap;
}