.ui-panelgrid {
	/* 	width: 100%; */
	
}

.ui-panel, .ui-datatable, .ui-panelgrid {
	margin-bottom: .5em;
	margin-top: .5em;
}

.ui-panelgrid, .ui-panelgrid .ui-panelgrid-cell {
	border-style: hidden;
	/* 	 10px solid black; */
	vertical-align: middle;
}

.col-request-UNCOMPLETE {
	
}

.col-request-EXPRESS {
	background: #f5fed8;
}

.col-request-ONLINE {
	background: #d8fee0;
}

.request-icon .fa {
	font-size: 1.8em;
	text-shadow: none;
}

.green-icon {
	color: #00FF00;
}

.red-icon {
	color: #FF0000;
}

A.request-icon, A.request-icon:hover {
	text-decoration: none;
}

.row-request-progress-NEW, .row-request-progress-NEW .ui-state-hover,
	.row-request-progress-NEW TR.ui-state-hover, .row-request-progress-NEW .ui-state-highlight
	{
	font-weight: bold;
}

.row-request-progress-ON_HOLD, .row-request-progress-ON_HOLD .ui-state-hover,
	.row-request-progress-ON_HOLD TR.ui-state-hover,
	.row-request-progress-ON_HOLD .ui-state-highlight {
	color: #bbbbbb !important;
	font-style: italic !important;
}